*                       text=auto

*.astro                 text eol=lf
*.json                  text eol=lf
*.jsonc                 text eol=lf
*.md                    text eol=lf
*.mjs                   text eol=lf
*.toml                  text eol=lf
*.ts                    text eol=lf
*.yaml                  text eol=lf

.gitattributes          text eol=lf
.gitignore              text eol=lf
.node-version           text eol=lf
