{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  <div class="container">
    <section class="posts">
      {{ range .RegularPagesRecursive.ByPublishDate }}
        {{ partial "blog_post_summary.html" .}}
      {{ end }}
    </section>
    {{ if gt .Sections.Len 0 }}
      <section class="sections">
        <ul>
          {{ range .Sections.ByDate.Reverse }}
            <li><a href="{{ .RelPermalink }}">{{- .Title -}}</a> ({{- .RegularPagesRecursive.Len -}})</li>
          {{ end }}
        </ul>
      </section>
    {{ end}}
  </div>
{{ end }}
