<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
  <meta name="description" content="{{ .Summary }}">
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "headline": "{{ .Title }}",
      {{ if .Params.cover }}
        {{- $coverResource := .Resources.GetMatch (.Params.cover) -}}
        {{- $cover := $coverResource.Process "Fill 1440x600 Center" -}}
        "image": [
          "{{ $cover.RelPermalink }}"
        ],
      {{ end -}}
      "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" }}",
      "dateModified": "{{ .Date.Format "2006-01-02T15:04:05-07:00" }}",
      "author": [
        {
          "@type": "Person",
          "name": "Michael F. Collins, III",
          "url": "https://www.michaelcollins.blog/about/"
        }
      ],
    }
  </script>
</head>
<body class="{{ .Section }}">
  <header>
    {{ partial "header.html" . }}
    {{ if .Params.cover }}
      {{ $cover := .Resources.GetMatch (.Params.cover) }}
      {{ with $cover.Process "Fill 1440x600 Center" }}
        <img class="cover" src="{{ .RelPermalink }}" alt="{{ .Title }}">
      {{ end }}
    {{ end }}
  </header>
  <main>
    <article class="post">
      <h1>{{ .Title }}</h1>

      <div class="publish-time">
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Date | time.Format ":date_long" }}
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
  
        {{ if ne .Lastmod .Date }}
          {{ $lastmodMachine := .Lastmod | time.Format "2006-01-02T15:04:05-07:00" }}
          {{ $lastmodDateHuman := .Lastmod | time.Format ":date_long" }}
          {{ $lastmodTimeHuman := .Lastmod | time.Format ":time_long" }}
          (Updated: <time datetime="{{ $lastmodMachine }}">{{ $lastmodDateHuman }} {{ $lastmodTimeHuman }}</time>)
        {{ end }}
      </div>

      {{ .Content }}

      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </article>
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
