---
import BaseLayout from "../layouts/BaseLayout.astro"
import coverImage from "./cover.jpg";
---

<BaseLayout title="Michael F. Collins, III" desktopCoverImageURL={coverImage}>
	<h1>Welcome to my Website!</h1>
	<p>TODO: welcome message</p>
</BaseLayout>