---
import CoverImageLayout from "../layouts/CoverImageLayout.astro"

const title = "Michael F. Collins, III";
const coverImage = "/cover.jpg";
---
<CoverImageLayout title={title} coverImage={coverImage}>
	<h1>{title}</h1>
</CoverImageLayout>