<p class="name">Michael F. Collins, III</p>
<p class="address">
    16230 West Saguaro Park Lane<br/>
    Surprise, AZ 85374
</p>
<ul class="social-media">
    <li class="email"><i class="ti ti-mail"></i> <a href="mailto:mfcollins3@me.com">mfcollins3@me.com</a></li>
    <li class="github"><i class="ti ti-brand-github"></i> <a href="https://github.com/mfcollins3" target="_blank">GitHub</a></li>
    <li class="linkedin"><i class="ti ti-brand-linkedin"></i> <a href="https://www.linkedin.com/in/michaelfcollins3/" target="_blank">LinkedIn</a></li>
    <li class="bluesky"><i class="ti ti-brand-bluesky"></i> <a href="https://bsky.app/profile/mfcollins3.bsky.social" target="_blank">Blue Sky</a></li>
    <li class="youtube"><i class="ti ti-brand-youtube"></i> <a href="https://www.youtube.com/@mfcollins3" target="_blank">YouTube</a></li>
    <li class="facebook"><i class="ti ti-brand-facebook"></i> <a href="https://www.facebook.com/mfcollins3" target="_blank">Facebook</a></li>
    <li class="instagram"><i class="ti ti-brand-instagram"></i> <a href="https://www.instagram.com/mfcollins3/" target="_blank">Instagram</a></li>
</ul>
