<div class="copyright">
    <p>{{- site.Copyright -}}</p>
    <p>The views expressed on this website/blog are mine alone and do not necessarily reflect the views of my employer.</p>
</div>
<div class="legal">
    <ul>
        <li><a href="https://www.iubenda.com/privacy-policy/25480076" class="iubenda-nostyle no-brand iubenda-noiframe iubenda-embed iubenda-noiframe " title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></li>
        <li><a href="https://www.iubenda.com/privacy-policy/25480076/cookie-policy" class="iubenda-nostyle no-brand iubenda-noiframe iubenda-embed iubenda-noiframe " title="Cookie Policy ">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></li>
    </ul>
</div>
<div class="contact">
    <p>Michael F. Collins, III"</p>
    <ul>
        <li><i class="bx bx-envelope"></i><a href="mailto:mfcollins3@me.com">mfcollins3@me.com</a></li>
        <li><i class="bx bxl-github"></i><a href="https://github.com/mfcollins3">GitHub</a></li>
        <li><i class="bx bxl-linkedin"></i><a href="https://www.linkedin.com/in/michaelfcollins3/">LinkedIn</a></li>
        <li><i class="bx bxl-facebook"></i><a href="https://www.facebook.com/mfcollins3">Facebook</a></li>
        <li><i class="bx bxl-twitter"></i><a href="https://www.twitter.com/mfcollins3">X (Twitter)</a></li>
        <li><i class="bx bxl-instagram"></i><a href="https://www.instagram.com/mfcollins3/">Instagram</a></li>
        <li><i class="bx bxl-tiktok"></i><a href="https://www.tiktok.com/@mfcollins3">Tiktok</a></li>
    </ul>
</div>