<script type="text/javascript">
    var _iub = _iub || [];
    _iub.csConfiguration = {"askConsentAtCookiePolicyUpdate":true,"countryDetection":true,"enableFadp":true,"enableLgpd":true,"enableUspr":true,"floatingPreferencesButtonDisplay":"bottom-right","lang":"en","perPurposeConsent":true,"siteId":3567961,"whitelabel":false,"cookiePolicyId":25480076, "banner":{ "acceptButtonDisplay":true,"closeButtonDisplay":false,"continueWithoutAcceptingButtonDisplay":true,"customizeButtonDisplay":true,"explicitWithdrawal":true,"listPurposes":true,"position":"float-top-center","rejectButtonDisplay":true,"showTitle":false }};
</script>
<script type="text/javascript" src="https://cs.iubenda.com/autoblocking/3567961.js"></script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/gpp/stub.js"></script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="og:title" content="{{- partialCached "title.html" . -}}">
<meta name="og:type" content="website">
{{ $cover := .Resources.Get .Params.cover }}
{{ with $cover }}
    <meta name="og:image" content="{{ $cover.RelPermalink }}">
{{ end }}
<meta name="og:url" content="{{ .Permalink }}">
<meta name="og:description" content="{{ .Summary }}">
<title>{{- partialCached "title.html" . -}}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
