---
---
<section>
    <p>
        <strong>Michael F. Collins, III</strong><br>
        16230 West Saguaro Park Lane<br>
        Surprise, AZ 85374-1652
    </p>
    <ul>
        <li><i class="fa-regular fa-envelope"></i> <a href="mailto:mfcollins3@me.com">mfcollins3@me.com</a></li>
        <li><i class="fa-brands fa-github"></i> <a href="https://github.com/mfcollins3" target="_blank">GitHub</a></li>
        <li><i class="fa-brands fa-linkedin"></i> <a href="https://www.linkedin.com/in/michaelfcollins3/" target="_blank">LinkedIn</a></li>
        <li><i class="fa-brands fa-medium"></i> <a href="https://medium.com/@mfcollins3" target="_blank">Medium</a></li>
        <li><i class="fa-brands fa-youtube"></i> <a href="https://www.youtube.com/@mfcollins3" target="_blank">YouTube</a></li>
        <li><i class="fa-brands fa-facebook"></i> <a href="https://www.facebook.com/mfcollins3" target="_blank">Facebook</a></li>
        <li><i class="fa-brands fa-instagram"></i> <a href="https://www.instagram.com/mfcollins3" target="_blank">Instagram</a></li>
        <li><i class="fa-brands fa-tiktok"></i> <a href="https://www.tiktok.com/@mfcollins3" target="_blank">TikTok</a></li>
        <li><i class="fa-brands fa-bluesky"></i> <a href="https://bsky.app/profile/mfcollins3.bsky.social" target="_blank">Bluesky</a></li>
    </ul>
</section>

<style>
ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}
</style>