---
---
<section>
    <p>Copyright 2025 Michael F. Collins, III</p>
    <p>The views expressed on this website are mine alone and do not necessarily reflect the views of my employer.</p>
    <p><a href="https://michaelfcollins3.dev">https://michaelfcollins3.dev</a> © 2025 by <a href="https://michaelfcollins3.dev">Michael F. Collins, III</a> is licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a><img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;"><img src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;"><img src="https://mirrors.creativecommons.org/presskit/icons/nc.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;"><img src="https://mirrors.creativecommons.org/presskit/icons/nd.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;"></p>
    <p>Unless otherwise indicated, all source code published on this website is released under the terms of <a href="https://mit-license.org/">The MIT License</a> and may be used freely for both non-commercial and commercial purposes.</p>
</section>

<style>
p {
    margin: 0.5rem 0;
}

img {
    display: inline;
}
</style>