{{ $data := dict }}
{{ with try (.Resources.Get "bluesky_rss.xml") }}
    {{ with .Err }}
        {{ errorf "%s" . }}
    {{ else with .Value }}
        {{ $data = . | transform.Unmarshal }}
    {{ else }}
        {{ errorf "Unable to get page resource" }}
    {{ end }}
{{ end }}

{{ with $data.channel.item }}
    <ul>
        {{ range first 10 . }}
            {{ $dateMachine := dateFormat "2006-01-02T15:04:05-07:00" .pubDate }}
            <li>
                <p class="pub-date"><a href="{{ .link }}"><time datetime="{{ $dateMachine }}">{{ dateFormat ":date_long" .pubDate }} {{ dateFormat ":time_short" .pubDate }}</time></a></p>
                <p class="description">{{ .description }}</p>
            </li>
        {{ end }}
    </ul>
{{ end }}