{{ define "main" }}
  {{ .Content }}
  <div class="section-container">
    <section class="blog">
      <h1>Latest Blog Articles</h1>
      {{ range (where .RegularPagesRecursive "Section" "blog" | first 5) }}
        <article class="blog-post">
          <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
          <p class="summary">{{ .Summary }}</p>
          <p class="read-link"><a href="{{ .RelPermalink }}">Read</a></p>
        </article>
      {{ end }}
    </section>
    <section class="bluesky-feed">
      <h1>Recent Blue Sky Posts</h1>
      {{ partialCached "bluesky_feed.html" . }}
    </section>
  </div>
{{ end }}
