---
import type { ImageMetadata } from "astro";
import GlobalStyles from "../components/GlobalStyles.astro";
import CoverImage from "../components/CoverImage.astro";
import FontAwesome from "../components/FontAwesome.astro";
import GoogleFonts from "../components/GoogleFonts.astro";
import NavigationBar from "../components/NavigationBar.astro";

interface Props {
    title: string;
    desktopCoverImageURL?: string | ImageMetadata;
    mobileCoverImageURL?: string | ImageMetadata;
}

const { title, desktopCoverImageURL, mobileCoverImageURL } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{title} - Michael F. Collins, III</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <GlobalStyles />
        <FontAwesome />
        <GoogleFonts />
    </head>
    <body>
        <header>
            {desktopCoverImageURL && (
                <CoverImage
                    mobileImageURL={mobileCoverImageURL || desktopCoverImageURL}
                    desktopImageURL={desktopCoverImageURL}
                    alt="Cover Image"
                />
            )}
            <div class="navigation">
                <div class="navigation-bar">
                    <NavigationBar />
                </div>
            </div>
        </header>
        <main>
            <div class="content">
                <slot />
            </div>
        </main>
        <footer />
    </body>
</html>

<style>
    .navigation {
        z-index: 100;
        position: fixed;
        width: 100dvw;
        top: 1rem;

        display: grid;
        grid-template-columns: 1fr minmax(auto, 1136px) 1fr;
    }

    .navigation-bar {
        grid-column: 2 / 3;
        padding: 0 6rem;
    }

    main {
        display: grid;
        grid-template-columns: 1fr minmax(auto, 1136px) 1fr;
    }

    .content {
        grid-column: 2 / 3;
    }

    @media (max-width: 1136px) {
        main {
            grid-template-columns: 32px 1fr 32px;
        }
    }

    @media (max-width: 502px) {
        .navigation {
            top: 0;
            display: block;
        }

        .navigation-bar {
            padding: 0;
        }
    }
</style>